.container {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: #444444;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #cccccc;
}
