/* event.css */
body {
    font-family: Arial, sans-serif;
}

main {
    width: 80%;
    margin: 20px auto;
}

h1 {
    color: #2C3E50;
}

h2 {
    color: #34495E;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ECF0F1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

div {
    margin-bottom: 20px;
}
