<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StudyPal Admin Panel</title>
  <link rel="stylesheet" type="text/css" href="/adminPanel.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#">Students</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Organization</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Admin Faculty</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Course</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Еvaluation notebook</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Teachers</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Events</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Disciplines</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Groups</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
</body>
</html>
