<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>StudyPal Admin Panel</title>
  <link rel="stylesheet" type="text/css" href="/adminPanel.css">
</head>
<body>
<header>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
  <nav>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#">Students</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Organization</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Admin Faculty</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Course</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Еvaluation notebook</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Teachers</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Events</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Disciplines</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
      <li><a href="#">Groups</a>
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  </div>


  <div sec:authorize="!hasRole('ROLE_ADMIN')">
    <h1>Access Denied</h1>
    <p>You don't have permission to access this page.</p>
    <a href="/">Go back to Home</a>
  </div>

</header>
</body>
</html>
