<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <link rel="stylesheet" type="text/css" href="/css/events.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <section>
        <h1 th:text="${event.name}">Event Name</h1>
        <p th:text="${event.description}">Event Description</p>
        <p>Start: <span th:text="${event.eventStart}">Start Time</span></p>
        <p>End: <span th:text="${event.eventEnd}">End Time</span></p>

        <div>
            <h2>Materials</h2>
            <ul>
                <li th:each="material : ${event.eventMaterials}" th:text="${material.name}">Material Name</li>
            </ul>
        </div>

        <div>
            <h2>Exercises</h2>
            <ul>
                <li th:each="exercise : ${event.eventExercises}" th:text="${exercise.name}">Exercise Name</li>
            </ul>
        </div>

        <div>
            <h2>Solutions</h2>
            <ul>
                <li th:each="solution : ${event.eventSolutions}" th:text="${solution.name}">Solution Name</li>
            </ul>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
