<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudyPal</title>
    <link rel="stylesheet" type="text/css" href="/header.css">
</head>
<body>
<header>
    <div class="header">
        <a href="#default" class="logo">StudyPal</a>
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="#messages">Messages</a>
            <a href="#options">Options</a>
        </div>
    </div>
</header>
</body>
</html>
