<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<link rel="stylesheet" type="text/css" href="/login.css">
<form method="post" th:action="@{/auth/signin}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"/><br/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/><br/>

    <input type="submit" value="Login"/>
</form>

<!--<script>-->
<!--        document.querySelector('form').addEventListener('submit', function(event) {-->
<!--            event.preventDefault(); // Prevent form submission-->

<!--            // Get the form data-->
<!--            var formData = new FormData(this);-->

<!--            // Send a POST request to the login endpoint-->
<!--            fetch('/auth/signin', {-->
<!--                method: 'POST',-->
<!--                body: formData-->
<!--            })-->
<!--            .then(response => {-->
<!--                if (response.ok) {-->
<!--                    // Redirect to the index page-->
<!--                    window.location.href = '/index.html';-->
<!--                } else {-->
<!--                    // Handle login error-->
<!--                    console.log('Login failed');-->
<!--                }-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.log('An error occurred:', error);-->
<!--            });-->
<!--        });-->
<!--    </script>-->
</body>
</html>
